---
import Layout from "../../layouts/Layout.astro";
import GalleryCusco from "../../components/Galeria.astro";
import { galeria, categorias } from "../../data/galeria";
---
<Layout>
  	<section class="relative">
    	<div class="relative h-[70vh] md:h-[80vh] rounded-b-3xl overflow-hidden shadow-lg" style={`background-image: url('/bg-cusco.avif'); background-size: cover; background-position: center;`}>
      		<div class="absolute inset-0 bg-gradient-to-b from-black/70 via-black/60 to-black/70"></div>
      		<div class="absolute inset-0 flex flex-col items-center justify-center text-center px-6">
        		<h1 class="font-extrabold text-white drop-shadow-lg text-[clamp(1.8rem,4vw,3.2rem)]">
          			Experience Gallery
        		</h1>
        		<p class="mt-3 text-white/80 max-w-2xl text-[clamp(0.9rem,2vw,1.2rem)]">
          			Discover the most memorable moments of our tours in Cusco, Ica, and Lima.
        		</p>
      		</div>
    	</div>
  	</section>

  	<GalleryCusco galeria={galeria} categorias={categorias} tituloSeccion="Unforgettable Moments"/>
</Layout>
